<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          </br>
          <dt><h3>Reviews</h3></dt>
          <dd></dd>
          <% @reviews.each do |review| %>
            <%= render 'rating', review: review, user_id: review.user.id%>
          </br>
        <% end %>
        
        <% if current_user %>
          <div class="form-group">
          <%= form_for :review, url: "#{@product.id}/reviews" do |form| %>
          <dt></dt><dd><%= form.label :review %></dd>
          <dt></dt><dd><%= form.text_area :description, class: 'form-control' %></dd>
          <dt></dt><dd><p></p></dd>
          <dt></dt><dd>Your rating of this product is: <%= form.select :rating, [1, 2, 3, 4, 5], class: 'form-control' %> / 5</dd>
          <dt></dt><dd><p></p></dd>
          <dt></dt><dd><%= form.submit "Submit", class: 'btn btn-primary' %></dd>
          </div>
          <% end %>
        <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
